.card {
    height: 'auto';
    width: 40vw;
    border-radius: 4px;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.heading {
    font-family: monospace;
    font-size: 1.4vw;
    color: black;
    font-weight: 600;
}